@import "tailwindcss";
@theme {
  --color-primary: #b9ff66;
  --color-secondary: #191a23;
  --color-accent: #f3f3f3;
  --color-dark: #191a23;
}
.custom-shadow {
  box-shadow: 0px 5px 0px 0px #191a23;
}
